/* @import '~antd/dist/antd.dark.css'; */

*{
  margin: 0;
}

.App {
  text-align: center;
}



.list{
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid black;
}

.btn-time{
  margin-left: 2em;
  text-align: center;
  width: 5em;
  transition: 0.3s;
  font-weight: bold;
}

.btn-time:hover{
  background-color: rgb(12, 137, 255);
  color: white;
}
.body{
  display: flex;
  flex-direction: column;
}
.head-space{
  display: flex;
  justify-content: flex-start;
}
.header{
  background-color: rgb(112, 175, 241);
  color:aliceblue;
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: 100%;
}
.side-icon{
  margin-left: 0.5em;
  width: 3em;
  text-align: left;
}
.color-card{
  margin-top:1px;
  width: 10em;
  height: 5.5em;
}
.main{
  display: flex;
  justify-content: space-between;
}
.table{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5px;
  width: 80%;
  min-width: 80em;
}

.side-bar{
  border: 5px solid red;
  width: 10em;
}
.blank{
  width: 0.1em;
}
