*{
  margin: 0;
}

.App {
  text-align: center;
}

.hdr-black{
  background-color: rgb(68, 85, 238);
  color:aliceblue;
  height: 5em;
}

.list{
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid black;
}

.filter{
  background-color: rgb(238, 241, 243);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 17em;
}

.time{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  height: 5em;
  font-weight: bold;
}

.btn-time{
  margin-left: 2em;
  text-align: center;
  background-color: rgb(151, 195, 240);
  width: 5em;
  transition: 0.3s;
  font-weight: bold;
}

.btn-time:hover{
  background-color: rgb(12, 137, 255);
  color: white;
}