/* @import '~antd/dist/antd.dark.css'; */

*{
  margin: 0;
}

.App {
  text-align: center;
}

.hdr-black{
  background-color: rgb(28, 113, 196);
  color:aliceblue;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  padding-left: 2em;
  text-align: left;
  border-bottom: 1px solid black;
}

.btn-time{
  margin-left: 2em;
  text-align: center;
  background-color: rgb(151, 195, 240);
  width: 5em;
  transition: 0.3s;
  font-weight: bold;
}

.btn-time:hover{
  background-color: rgb(12, 137, 255);
  color: white;
}